<!DOCTYPE html>
<html>
<head>
  <title>Jenny Allar</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="../../../../../Downloads/6_navigation_2/style.css" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">
  <link href='http://fonts.googleapis.com/css?family=BenchNine:300,400,700|Rock+Salt|Prata' rel='stylesheet' type='text/css'>
</head>
<body>

<header>
  <div id="header_container">
    <div id="header_logo">
    </div>

  </div>
  <!--end header-->
  <p class="navbar-text pull-right">

</header>


<div class="banner">
  <a href="/">
    <img src="http://i.imgur.com/baUtpAZ.png" alt="banner"></a>
</div>
<nav>
  <div id="nav_container">

    <ul id="menu">
      <a href="https://github.com/JennyAllar">
        <img src="http://i.imgur.com/KRl1rEJ.png" alt="github"></a>
      <a href="https://twitter.com/JennyAllar">
        <img src="http://i.imgur.com/F254ROO.png" alt="twitter"></a>
      <a href="mailto:jennyallar@gmail.com?subject=You're Amazing!">
        <img src="http://i.imgur.com/CwjlXq9.png" alt="email"></a>
      <a href="https://www.linkedin.com/in/JennyAllar">
        <img src="http://i.imgur.com/RJXcHtD.png" alt="linkedin"></a>
    </ul>
  </div>
  <!--end navigation-->
</nav>
<div id="content">

  <div id="content_container">
    <div class="banner_2">
      <img src="http://i.imgur.com/Nsxgqjv.png" alt="banner">
    </div>
    <div id="intro">
      I'm a Ruby on Rails developer looking to work in an environment with other developers who are excited about
      the code they write, find pride in their work, and value strong communication skills. An organization that
      promotes
      further education and advancement would be ideal at this early stage in my development career.<br>
    </div>
    <div class="banner_1">
      <img src="http://i.imgur.com/AFRniJ3.png" alt="banner">
    </div>
    <div class="title">It’s Gif, Not Jif</div>
    <div class="subtitle">An ongoing repository for uploading, favoriting, searching and texting animated
      gifs. I really honed some of my CSS skills by attempting to give this app a
      Pinterest-like look.
    </div>
    <br><br><br><br>

    <div class="used">Used: Twillio, BCrypt</div>
    <br><br><br>


    <div class="project">
      <a href="https://github.com/JennyAllar/itsgifnotjif"><img src="http://i.imgur.com/n0FcQjq.png" alt="fivera"></a>
    </div>
    <br><br><br><br><br>

    <div class="title">gSchool Who</div>
    <div class="subtitle">An online version of the classic board game Guess Who using preselected
      characters with the option to upload your own game pieces.
    </div>
    <br>
    <br><br>

    <div class="used">Used: Devise, HTML5, pusher</div>
    <br><br><br>

    <div class="project">
      <a href="https://github.com/JennyAllar/gschool_who"><img src="http://i.imgur.com/CsoOdM5.png" alt="fivera"></a>
    </div>

    <div class="banner_1">
      <img src="http://i.imgur.com/W9EG7Sb.png" alt="banner">
    </div>


    <div class="title_1">gSchool @
      <a href="http://www.galvanize.it/school/"><img src="http://i.imgur.com/NXEHziK.png" alt="fivera"></a></div>
    <div id="location">Boulder, CO</div>
    <div class="subtitle">Full-Stack Ruby on Rails Development, graduating August 2014</div>
    <br><br><br><br>

    <div class="title_2">Ferris State University
      <a href="http://www.ferris.edu/"><img src="http://i.imgur.com/Qh30W6F.png" alt="fivera"></a></div>
    <div id="location">Big Rapids, MI</div>
    <div class="subtitle">B.S., Television and Digital Media Production</div>
    <br><br>


    <div class="banner_1">
      <img src="http://i.imgur.com/hSIQCmB.png" alt="banner">
    </div>

    <div class="title_1 ">Multimedia Production Specialist</div>
    <div id="location_jobs">Flint, MI - November 2010 - February 2014</div>
    <div class="company">Mott Community College
      <a href="http://www.mcc.edu/"><img src="http://i.imgur.com/g6VPi1d.png" alt="fivera"></a></div>
    <br>

    <div class="subtitle">Troubleshoot, repair, and maintain equipment in smart classrooms on campus
      using Crestron A/V solutions. Manage group of student employees and intern
      in the delivery services of audio/visual equipment across campus. Produce,
      shoot, and promotional videos for the college and its programs.
    </div>

    <br><br><br><br><br><br>

    <div class="title_1 ">Video Production Specialist</div>
    <div id="location_jobs">Sterling Heights, MI - October 2007 - October 2010</div>
    <div class="company_1">City of Sterling Heights
      <a href="http://www.sterling-heights.net/bins/site/templates/splash.asp"><img src="http://i.imgur.com/Ml4NKL8.png" alt="fivera"></a>
    </div>
    <br>

    <div class="subtitle">Assist with planning, coordinating, programming, direction, and televising of
      public access television programs. Pre- and post- production work on sporting
      events, instructional videos, news stories, and special events.
    </div>

    <br><br>

    <div class="banner_1">
      <img src="http://i.imgur.com/GP6ytnT.png" alt="banner">
    </div>

    <div class="company_2">
      <a href="http://www.crestron.com/products/digitalmedia_analog_digital_audio_video_av_distribution_4k/certification.asp">
        <img src="http://i.imgur.com/IJhYle3.png" alt="fivera"></a>

      <div id="test">Certified DigitalMedia™ Engineer - 2013</div>
    </div>

    <div class="company_2"><a href="http://www.sterling-heights.net/bins/site/templates/splash.asp">
      <img src="http://i.imgur.com/Ml4NKL8.png" alt="fivera"></a>

      <div id="test">Employee of the Year - 2009</div>
    </div>
    <br>
  </div>

</div>
<!--end content_container-->
<!--end content-->

<footer>
  <nav>
    <div id="nav_container">

      <ul id="menu">
        <a href="https://github.com/JennyAllar">
          <img src="http://i.imgur.com/KRl1rEJ.png" alt="github"></a>
        <a href="https://twitter.com/JennyAllar">
          <img src="http://i.imgur.com/F254ROO.png" alt="twitter"></a>
        <a href="mailto:jennyallar@gmail.com?subject=You're Amazing!">
          <img src="http://i.imgur.com/CwjlXq9.png" alt="email"></a>
        <a href="https://www.linkedin.com/in/JennyAllar">
          <img src="http://i.imgur.com/RJXcHtD.png" alt="linkedin"></a>
      </ul>
    </div>
    <!--end navigation-->
  </nav>
</footer>

</body>
</html>    