

      <p><h2>I'm a Ruby on Rails developer looking to work in an environment with other developers who are excited about 
        the code they write, find pride in their work, and value strong communcation skills. An organization that promotes 
        further education and advancement would be ideal at this early stage in my development career.</h2>

 